#taskTitleContainer {
    display: flex;
    align-items: center; /* 中央揃えに修正 */
}

#taskListContainer div {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: flex-start;
    margin-top: 10px;
}

#taskListContainer div > div {
    display: flex; /* 横並びにする */
    align-items: center; /* 中央揃えにする */
    margin-top: 5px;
}

#taskListContainer input[type="text"] {
    margin-left: 10px;
}

#taskListContainer input[type="text"]:disabled {
    background-color: #f0f0f0; /* 無効化された入力フィールドの背景色 */
    border: none; /* 無効化された入力フィールドのボーダーを削除 */
}

#taskListContainer button {
    margin-left: 5px;
    cursor: pointer; /* ボタンにカーソルを表示 */
}